[Desktop Entry]
Name=dde-update
Type=Application
NoDisplay=true
Exec=sh -c 'if [ -f /tmp/deepin_update_option.json ]; then /usr/bin/dde-update ; fi'
X-Deepin-Vendor=deepin